.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .container {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .title {
    color: white;
    text-align: center;
  }
  
  .container select,
  .container span,
  .container button {
    margin: 0 5px;
  }
  
  .container span:last-child {
    color: white;
  }
  
  .container span:first-child {
    color: black;
  }
  
  .container span:first-of-type {
    color: white;
  }
  
  .documents > div {
    cursor: pointer;
  }
  
  .book-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .documents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-item {
    margin: 10px;
    width: 30%;
    color: white;
    text-align: center;
  }
  .book-item img{
    width: 200px;
    height: 300px;
  }
 
  .no-results {
    font-size: 1.2rem; /* 글자 크기 키우기 */
    color: white; /* 글자 색상 흰색으로 변경 */
  }